/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 1 to 1000 */

/* .sofia-sans-<uniquifier> {
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* .epilogue-<uniquifier> {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */