body {
    background-color: rgb(237, 235, 235);

    font-family: "Epilogue", sans-serif;
}

.navbar.island {
    background-color: #f0f0f000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px;
}

.navbar .container {
    background-color: #c9c5c580;
    backdrop-filter: blur(7px); 
    width: 80%;
    padding: 16px 24px;
    border-radius: 24px;
}
.nav-item .nav-link {
    transition: all 0.6s ease;
}

.nav-item .nav-link.active {
    font-weight: bold;
    background: linear-gradient(to right, #007BFF, #501bef);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s ease;
}

.container.welcome {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0.5vh;
    z-index: 1;
}

.navbar-brand {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
}

.navbar-brand img {
    height: 30px;
    margin-right: 16px;
}

.container.welcome h1 {
    font-family: "Sofia Sans", sans-serif;
    font-weight: 850;
    font-style: normal;
    font-size: 4rem;

    margin-top: 50px;

    color: #333;

    background: linear-gradient(270deg, #007BFF, #2b0e85, #007BFF);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradient 3s linear infinite;
}

@keyframes gradient {
    0% { background-position: 200% 50%; }
    100% { background-position: 0% 50%; }
}

.btn-outline {
    margin-top: 50px;

    background-color: transparent;
    border: 2px solid #007BFF; 
    color: #007BFF; 
}

.btn-outline:hover {
    background-color: #007BFF; 
    color: #fff;
}

@media (max-width: 768px) {
    .container.welcome h1 {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    .container.welcome h1 {
        font-size: 2rem;
    }
}

.transition.welcome{
    height: 10vh;
    background-image: url(../images/transitions/transition-1.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;

    z-index: 2;
    position: relative;
}

.transition.skills{
    height: 10vh;
    background-image: url(../images/transitions/transition-2.png);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.skills {
    padding-bottom: 20vh;
    /* background-color: #1C1C1C; */
    background-image: linear-gradient(to bottom, #1C1C1C, #070415);
    color: #fbfbfb;

    z-index: 2;
    position: relative;
}

.skills h1 {
    font-family: "Sofia Sans", sans-serif;
    font-weight: 850;
    font-style: normal;
    font-size: 3rem;

    padding: 200px 0px 50px 0px;
    

    color: #fff;
}

.skill {
    height: 20vh;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: all 0.3s ease;
}

.skill:hover {
    background-color: #f0f0f040;
    border-radius: 24px;
    backdrop-filter: blur(7px); 

    transition: all 0.3s ease;

}

.skill h3 {
    font-family: "Epilogue", sans-serif;
    font-weight: 300;
}


.skill img {
    height: 10vh;
    margin: 25px;
}

.carousel {
    overflow: hidden;
    white-space: nowrap;
}

.carousel__track {
    display: inline-block;
    animation: marquee 45s linear infinite;
}

.carousel__track--2 {
    display: inline-block;
    animation: marquee 45s linear infinite;
    animation-delay: 0s;
}


.carousel__item {
    display: inline-block;
    padding: 0 2rem;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}



/* PROJECT */

.projects {
    padding-bottom: 20vh;
    background-color: rgb(237, 235, 235);
    color: #171717;
}

.project {
    margin-top: 32px;
}

.projects h1 {
    font-family: "Sofia Sans", sans-serif;
    font-weight: 850;
    font-style: normal;
    font-size: 3rem;

    padding: 200px 0px 50px 0px;
    

    color: #171717;
}


.project .time {
    font-family: "Epilogue", sans-serif;
    font-weight: 300;
    font-size: 2rem;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper .image {
    width: 100%;
    position: relative;

    border-radius: 3vh;
}

.wrapper img {
    width: 100%;
    display: block;
    margin: auto;

    border-radius: 3vh;
}

.wrapper .description {
    border-radius: 3vh;
    padding: 30px;

    width: 100%;
    height: fit-content;
    min-height: 100%;
    top:0;
    left:0;
    position: absolute;

    background-color: #070415c2;
    backdrop-filter: blur(7px); 


    opacity: 0;
    transition: 0.6s;
}

.wrapper .description:hover {
    scale: 1.02;
    opacity: 1;
    transition: 0.6s;
}

.wrapper .separator {
    height: 0;
    background-color: rgba(255, 255, 255, 0);

    transition: all 0.3s ease;
}


.thumbnail-title {
    font-family: "Sofia Sans", sans-serif;
    font-weight: 850;
    font-style: normal;
    font-size: 2rem;
    color: #ffffff;
}

.thumbnail-subtitle {
    font-family: "Epilogue", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 1rem;
    color: #dadada;
}

.thumbnail-text {
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #ffffff;
}


/* FOOTER */

.transition.my-footer{
    height: 50vh;
    background-image : url(../images/transitions/transition-4.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.footer {
    position: relative; 
    background-image: linear-gradient(to bottom, #0A3473, #070315);
}

.container.paper {
    background-color: #f4edcb;
    padding : 50px 50px 50vh 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.container.paper input, .container.paper textarea {
    background-color: #e5d9969d;
    border-radius: 8px;

    transition: all 0.3s ease;
}


.the-void {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to bottom, #0a347300, #0a0014);

    z-index: 2;
}

.email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px; /* Adjust as needed */
}

.email-logo, .email-container h1 {
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    font-size: 80px; /* Adjust as needed */
    text-align: center;
}

.material-symbols-outlined.small {
    font-size: 40px; /* Adjust as needed */
    text-align: center;
}

button.btn.email {
    width: 100%;
    background-color: #0c2948;
    color: #fbfbfb ;

    transition: all 0.3s ease;
}

button.btn.email:hover {
    background-color: #0a3c72;
    color: #fbfbfb ;

    transition: all 0.3s ease;
}

h1.contact {
    font-family: "Sofia Sans", sans-serif;
    font-weight: 850;
    font-style: normal;
    font-size: 3rem;

    padding: 200px 0px 10px 0px;
    

    color: #171717;
}

.container p.subtitle {
    font-family: "Epilogue", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 1rem;
    color: #171717;
}

.row a i {
    font-size: 4em;
}


/* CV */

.cv {
    padding-top: 15vh;
}

.container.translucent {
    padding: 24px 32px 24px 32px;
    background-color: #c9c5c580;
    backdrop-filter: blur(7px); 
    background: linear-gradient(90deg, #c9c5c580 0%, #c9c5c53e 100%);
    border-radius: 24px;
}

.container.translucent h1 {
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.my-name {
    background: linear-gradient(to right, #007BFF, #00BFFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container.translucent img {
    max-height: 42px;
    margin-right: 16px;
}

.container.translucent .download {
    min-height: 48px;
    background-color: transparent;
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 18px;
    padding: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.container.translucent a {
    text-decoration: none;
}

.container.translucent .download:hover,
.container.translucent .download:focus {
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}